

/* === Layout === */
.phd-logo-container {
	display: flex;
	justify-content: left;
	align-items: center;
	padding-top: 50px;
}

.phd-logo {
	display: flex;
	position: fixed;
	border: 1px solid white;
	border-radius: 50%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	top: 4vh;
	z-index: 999;
}

/* === Layout === */
.phd-logo-container {
	display: flex;
	justify-content: left;
	align-items: center;
	padding-top: 150px;
}

@media (max-width: 768px) {
    .phd-logo {
		top: 3vh;
		opacity: 0.6;
	}

    .thesis-buttons {
        margin-top: 80px;
    }
}